/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Fonts */
@font-face {
  font-family: "Italiana";
  src:
    url("./assets/fonts/Italiana-Regular.woff2") format("woff2"),
    url("./assets/fonts/Italiana-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Homepage */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}

h1,
h2 {
  font-family: "Italiana";
}

/* Header (mobile) */
#header-mobile {
  width: 100%;
  margin-bottom: 40px;
}

#header-tablet {
  display: none;
}

#header-desktop {
  display: none;
}

#headshot-container {
  display: flex;
  justify-content: center;
  background-color: midnightblue;
  height: 140px;
}

#headshot-container img {
  position: absolute;
  max-width: 320px;
  padding: 32px;
  z-index: 1;
}

h1 {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-top: 240px;
  z-index: 1;
}

#header-bottom-border-mobile {
  background-color: midnightblue;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
  height: 120px;
  margin-top: -1px;
}

/* About me (mobile) */
#about-me-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 320px;
  margin-bottom: 32px;
}

#about-me-mobile p {
  padding: 0px 16px;
}

@media (min-width: 696px) {
  #about-me-mobile {
    max-width: 632px;
  }

  #about-me-mobile p {
    padding: 0px;
  }
}

#about-me-mobile .devicon-github-original {
  font-size: 32px;
}

/*  My work */
#my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#project-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0px 32px 32px;
}

.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
  min-width: 290px;
  max-width: 300px;
}

.screenshot {
  width: 100%;
}

.project-info {
  display: grid;
  grid-template: 1fr 4fr / 6fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  gap: 12px;
  padding: 16px 0px 0px 12px;
}

.project-info h3 {
  font-family: "Italiana";
}

.project-info .devicon-github-original {
  font-size: 20px;
}

.project-info img {
  width: 20px;
  height: auto;
}

.description {
  grid-area: 2 / 1 / 3 / 4;
  align-self: start;
}

/* Contact me */
footer {
  display: flex;
  justify-content: center;
  background-color: midnightblue;
  width: 100%;
}

#footer-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  text-align: center;
  max-width: 320px;
  padding: 16px;
}

#footer-message {
  max-width: 280px;
}

@media (min-width: 696px) {
  #footer-content {
    max-width: 632px;
  }
}

footer h2 {
  align-self: center;
}

footer .devicon-github-original {
  align-self: center;
  font-size: 32px;
}

/* Header (tablet) */
@media (min-width: 768px) {
  #header-mobile,
  #about-me-mobile {
    display: none;
  }

  #header-tablet {
    display: block;
    width: 100%;
  }

  #header-content-tablet {
    background-color: midnightblue;
    height: 150px;
  }

  #header-content-tablet img {
    position: relative;
    float: left;
    box-shadow: 2px 2px 5px black;
    max-height: 320px;
    margin: 32px 24px 0px 32px;
    z-index: 2;
  }

  h1 {
    position: relative;
    font-size: 40px;
    margin: 0px;
  }

  #about-me-tablet {
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    max-width: 632px;
    min-height: 432px;
    text-align: center;
    margin: auto;
    padding: 32px;
    z-index: 1;
  }

  #about-me-tablet h2 {
    position: relative;
    display: inline-block;
    font-size: 32px;
    margin-bottom: 8px;
  }

  #about-me-tablet p {
    text-align: start;
  }

  #header-bottom-border-tablet {
    background-color: midnightblue;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
    margin-top: -1px;
    height: 250px;
    z-index: 1;
  }

  #my-work {
    max-width: 1028px;
    margin-top: 120px;
  }

  #my-work h2 {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  #header-mobile,
  #header-tablet,
  #about-me-mobile,
  #about-me-tablet {
    display: none;
  }

  #header-desktop {
    display: block;
    width: 100%;
  }

  #header-content-desktop {
    display: grid;
    grid-template-columns: 360px 480px;
    align-items: center;
    justify-content: center;
    background-color: midnightblue;
    height: 200px;
    padding-top: 32px;
    z-index: 0;
  }

  #headshot-container-desktop {
    z-index: 1;
  }

  #headshot-container-desktop img {
    box-shadow: 2px 2px 5px black;
  }

  h1 {
    font-size: 48px;
    text-align: center;
    margin-top: -72px;
  }

  #about-me-desktop {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    max-width: 480px;
    max-height: 308px;
    padding: 32px;
    z-index: 1;
  }

  #about-me-desktop h2 {
    margin-bottom: 8px;
  }

  #about-me-desktop .devicon-github-original {
    align-self: end;
    font-size: 32px;
  }

  #header-bottom-border-desktop {
    background-color: midnightblue;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 100%);
    margin-top: -1px;
    height: 250px;
    z-index: 0;
  }

  #my-work {
    margin-top: 16px;
  }

  #project-list {
    gap: 30px;
  }
}
