/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Fonts */
@font-face {
  font-family: "Italiana";
  src:
    url("./assets/fonts/Italiana-Regular.woff2") format("woff2"),
    url("./assets/fonts/Italiana-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Homepage */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto";
}

h1,
h2 {
  font-family: "Italiana";
}

/* Header */
header {
  width: 100%;
  margin-bottom: 40px;
}

#headshot-container {
  display: flex;
  justify-content: center;
  background-color: midnightblue;
  height: 140px;
}

h1 {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-top: 240px;
  z-index: 1;
}

#headshot-container img {
  position: absolute;
  max-width: 320px;
  padding: 32px;
  z-index: 1;
}

#header-bottom-border {
  height: 120px;
  background-color: midnightblue;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
  margin-top: -1px;

}

/* About me */
#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 320px;
  margin-bottom: 32px;
}

#about-me p {
  padding: 0px 16px;
}

#about-me .devicon-github-original {
  font-size: 32px;
}

/*  My work */
#my-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}

.project-card {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px black;
  min-width: 290px;
  max-width: 300px;
  margin: 0px 16px;
}

.screenshot {
  width: 100%;
}

.project-info {
  display: grid;
  grid-template: 1fr 4fr / 6fr 1fr 1fr;
  align-items: center;
  justify-items: start;
  gap: 12px;
  padding: 16px 0px 0px 12px;
}

.project-info h3 {
  font-family: "Italiana";
}

.project-info .devicon-github-original {
  font-size: 20px;
}

.project-info img {
  width: 20px;
  height: auto;
}

.description {
  grid-area: 2 / 1 / 3 / 4;
  align-self: start;
}

/* Contact me */
footer {
  display: flex;
  justify-content: center;
  background-color: midnightblue;
  width: 100%;
}

#footer-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  max-width: 320px;
  padding: 16px;
}

footer h2 {
  align-self: center;
}

footer .devicon-github-original {
  align-self: center;
  font-size: 32px;
}
